<header class="main-header">
  <div class="top-bar">
    <div class="user-actions">
    <button class="icon-btn" type="button" (click)="opencart()">
      <i class="pi pi-shopping-bag"></i>
    </button>
     <button class="icon-btn" type="button" (click)="openuser()">
      <i class="pi pi-user"></i>
      </button>
    <button class="icon-btn" title="החשבון שלי" routerLink="/profile">
        <i class="pi pi-id-card"></i>
      </button>

          <ng-container *ngIf="userService.currentUser()?.isAdmin">
    <button class="icon-btn" title="ניהול מוצרים" routerLink="/admin-products">
      <i class="pi pi-box"></i>
    </button>
    <button class="icon-btn" title="ניהול הזמנות" routerLink="/admin-orders">
      <i class="pi pi-list"></i>
    </button>
  </ng-container>
    </div>
    
    <div class="logo">
      <img src="pictures/logo.png" alt="Magnolia Logo">
    </div>
    


    <div class="search-icon" routerLink="/home">
      <i class="pi pi-search"></i>
    </div>


  </div>

<nav class="nav-menu">
  <ul>
    <li><a routerLink="/shop">כל התכשיטים</a></li>
    <li><a routerLink="/shop">שרשראות</a></li>
    <li><a routerLink="/shop">עגילים</a></li>
    <li><a routerLink="/shop">צמידים</a></li>
    <li><a routerLink="/shop">טבעות</a></li>
    <li><a routerLink="/shop">עיצוב אישי</a></li>
  </ul>
</nav>
</header>