<header class="main-header">
  <div class="top-bar">
    <div class="user-actions">
    <button class="icon-btn" type="button" (click)="opencart()">
      <i class="pi pi-shopping-bag"></i>
    </button>
     <button class="icon-btn" type="button" (click)="openuser()">
      <i class="pi pi-user"></i>
      </button>
    </div>
    
    <div class="logo">
      <img src="pictures/logo.png" alt="Magnolia Logo">
    </div>
    
    <div class="search-icon">
      <i class="pi pi-search"></i>
    </div>
  </div>

<nav class="nav-menu">
  <ul>
    <li><a routerLink="/shop">כל התכשיטים</a></li>

    <li><a [routerLink]="['/shop']" [queryParams]="{ categoryId: 1 }">שרשראות</a></li>
    <li><a [routerLink]="['/shop']" [queryParams]="{ categoryId: 4 }">עגילים</a></li>
    <li><a [routerLink]="['/shop']" [queryParams]="{ categoryId: 2 }">צמידים</a></li>
    <li><a [routerLink]="['/shop']" [queryParams]="{ categoryId: 3 }">טבעות</a></li>

    <li><a [routerLink]="['/shop']" [queryParams]="{ isStudio: true }">עיצוב אישי</a></li>
  </ul>
</nav>
</header>