.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 18px;
  padding: 18px;
}
.pagination{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 18px 18px;
}

.page-btn{
  border: 1px solid #ddd;
  background: #000000;
  color: #ddd;
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 35px;
  
}

.page-btn.active{
  border-color: #111;
  font-weight: 600;
  background-color: #ddd;
  color: #111;
}